<!DOCTYPE html>
<html lang="en">

<%- include('partials/header.ejs') %>

<body>
        <main>
            <div class="ui segment">
              <h1>Welcome To Pokemon Index</h1>
              <p>Feel free to browse through and click "Learn More" for more info</p>
            </div>
            <div class="carouselContainer">
                <h1>I am a placeholder for carousel</h1>
                <button class="next">Next</button>
                <button class="previous">Previous</button>
            </div>
           </main>

    <%- include('partials/footer.ejs') %>
</body>
<style>
    h1{
        text-align: center;
    }
    p{
        text-align: center;
    }
    .carouselContainer{
        text-align: center;
       border: 2px solid black;
       width: 500px;
       margin: 0 auto;
       margin-top: 50px;
       height: 400px;
    }
    .next{
        margin-left: 550px;
        margin-top: 100px;
    }
    .previous{
        margin-left: -130px;
        margin-top: -35px;
        display: flex;
    }
</style>

</html>